@import 'reset.less';
@import 'normalize.less';
@import 'util.less';
@import 'typo.less';
@import 'layout.less';

@yellow: #f6eb14;

body {
  background: #fafafa;
  color: #444;
}

a {
  color: inherit;

  &:hover {
    background: @yellow;
    text-decoration: none;
  }
}

img {
  display: block;
}

header {
  background: #333;
  .header;

  li {
    margin-left: 2px;
  }

  a {
    background: #fafafa;
    color: #444;

    &:hover {
      background: @yellow;
    }
  }
}

#logo {
  margin-left: 0;
  width: 106px;

  a, a:hover {
    text-indent: -30000px;
    background: transparent url(/imgs/logo.png) no-repeat left 4px;

    @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
      background-image: url('/imgs/logo_2x.png');
      background-size: 105px 36px;
    }
  }
}

footer {
  .footer;

  h3 {
    border-bottom: solid 1px #ddd;
  }

  ol {
    border-bottom: solid 20px @yellow;
  }
}

#logo {
  .header > .logo;
}

#content {
  .container;
  .content;
}

#home-featured-left {
  .featured-left;

  a:hover {
    h2 {
      color: @yellow;
    }
  }
}

#home-featured-right {
  .featured-right;

  a:hover {
    h2 {
      color: @yellow;
    }
  }
}

#kind-words {
  blockquote {
    display: none;
  }
}

#latest-posts, #latest-blog-posts {
  a {
    display: block;
    padding: .8em 20px .8em 0;
    border-bottom: solid 1px #eee;
    text-decoration: none;

    &:hover {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

#post {
  .col640;
  margin-bottom: 40px;
  padding-right: 10px;

  @media only screen and (max-width: 639px) {
    padding-left: 10px;
  }
}

#disqus_thread {
  .col640;
  padding-right: 10px;

  @media only screen and (max-width: 639px) {
    padding-left: 10px;
  }
}

aside {
  padding-left: 30px;
  margin-bottom: 30px;
  .col320;

  h3 {
    border-bottom: solid 1px #ddd;
  }

  @media only screen and (min-width: 640px) and (max-width: 959px) {
    padding: 0 10px;
  }

  @media only screen and (max-width: 639px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#social {
  margin-top: 34px;
  margin-bottom: 10px;

  border: solid 1px #ddd;
  padding: 10px;

  @media only screen and (max-width: 639px) {
    margin-top: 0;
  }
}

#twitter {
  float: right;
}


