/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poly', serif;
  font-size: 20px;
  line-height: 1.5em;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2em;
  margin-bottom: .9em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: .5em;
  color: #333;
}

h2, a, #post h1, .page h1 {
  text-decoration: none;
  color: #b00;
  line-height: 1.2em;
}

.baseline {
  font-size: 1.2em;
  font-style: italic;
  color: #222;
  padding-bottom: 2em;
}

#post h2, .page h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
  color: #333;
  color: #000;
}

#post h1, .page h1 {
  font-size: 2em;
  margin-bottom: .9em;
}

header {
  background: #b00;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px #800;
  z-index: 32000;
}

header div {
  width: 560px;
  margin: 0 auto;
}

header a {
  color: #fff;
}

#logo a {
  font-size: 1.3em;
  padding: .2em 0 .4em;
  display: block;
  float: left;
}

header nav {
  float: right;
}

header nav a {
  text-transform: uppercase;
  font-size: .9em;
  display: block;
  padding: .7em 0;
}

#content {
  width: 560px;
  padding: 0 40px;
  margin: 4em auto;
  text-align: justify;
}

#content p {
  margin-bottom: 1em;
}

article {
  margin-bottom: 4em;
}

blockquote {
  font-style: italic;
  position: relative;
  padding: 0 2em;
  margin-top: 2em;
}

blockquote span {
  font-style: italic;
  color: #999;
  display: block;
  position: absolute;
}

cite {
  margin-left: 1.9em;
  font-size: .8em;
  color: #666;
}

.open {
  font-size: 4em;
  top: .1em;
  left: -.02em;
}

.close {
  font-size: 2.5em;
  bottom: -.7em;
  right: .2em;
}
