<h3>Kind words</h3>

<blockquote>
  <p>
    Stephan is great to work with. He brings deep technical expertise to the table, combined with an aestethic and business sense that make him a tremendous person to have on any team. What's more, he is super-motivated. We created a full website based on ruby/rails with complex authentications, fancy front-end and deployed in production in a record time, which was very impressive. One of the best people I worked with, and I hope to work with Stephan in the future if in any way possible.
  </p>
  <cite>‐ Christian Miccio, PM (Shazam, Google)</cite>
</blockquote>

<blockquote>
  <p>
    Stephan is a superb Flash and Flex developer. Working independently from France with the team based mostly in NYC and San Francisco, Stephan has helped us build our first several iterations of our embeddable Flash player, which has allowed us to move our internet radio listening to Facebook, blogs and other third‐party platforms. In addition, Stephan was integral in setting up our Flash playback using HTML controls on the flagship website, taking advantage of an external application called SoundManager. Stephan is dependable and talented, and I'd strongly recommend him.
  </p>
  <cite>‐ David Porter, CEO (8tracks.com, live365)</cite>
</blockquote>


<blockquote>
  <p>
    I had the pleasure of working with Stephan on a project over the Christmas holidays here in LA. At times, we had team members in LA, Shanghai, New York &amp; Paris, but Stephan was always on top of his game and available almost round the clock. Our deadline was near impossible, but with Mr. Florquin on the job, we delivered an amazing product. I will continue to champion this developer's skills for the rest of my days online.
  </p>
  <cite>‐ Jonathan Green, PM (triggerla.com)</cite>
</blockquote>


<blockquote>
  <p>
    Stephan is a highly talented and versatile developer. He is able to interpret designs and implement complex functionality, while adding a creative flair to create usable, beautiful products. Also, Stephan is wonderful to work with, pays attention to details and makes tight deadlines.
  </p>
  <cite>‐ Karen Deer, AD (RayV, MTV)</cite>
</blockquote>

<blockquote>
  <p>
    Stephan Florquin travaille très proprement, possède une excellente sensibilité visuelle et un sens de l'ergonomie, lui permettant d'anticiper la demande du graphiste. Il aurait pu faire une excellente carrière en indépendant, quel dommage qu'il décide de se sédentariser.
  </p>
  <cite>‐ Olivier Waissmann, PM, AD (StudioBW, Paris)</cite>
</blockquote>
