<!DOCTYPE html>
<html lang="en-EN">
	<head>
		<meta charset="UTF-8" />
		<title>Stephan Florquin's blog</title>
		<link rel='stylesheet'  href='/css/style.css' type='text/css' media='all' />
		<link href='http://fonts.googleapis.com/css?family=Rosario:400,400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<div>
				<p id="logo"><a href="/">I ❤ node.js</a></p>
			</div>
		</header>

		<div id="content">
		{{ content }}
		</div>
	</body>
</html>