<!DOCTYPE html>
<html lang="en-EN">
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }} | Stephan Florquin's dev blog</title>
		<link rel='stylesheet'  href='/css/style.css' type='text/css' media='all' />
		<link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27533624-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>
		<header>
			<div>
				<nav>
					<ul>
						<li><a href="/about.html" title="About me">About me</a></li>
					</ul>
				</nav>
				<p id="logo"><a href="/">I ❤ creating</a></p>
			</div>
		</header>

		<div id="content">
		{{ content }}
		</div>
	</body>
</html>